<a href="https://colab.research.google.com/github/tanjimmm/AI/blob/main/22_47647_2_Week_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p><p> <b>Example: 20-45961-3 Lab 02.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# User Input

In [ ]:
a = 21
print(a)

21

In [1]:
a = input()
print(a)
print(type(a))

12
12
<class 'str'>

In [2]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: 12
The given value is 12
<class 'str'>

In [4]:
a = float(input('Enter a non-prime number: ')) # returns string but converted to float
print('The result is', a+100)
print(type(a))

Enter a non-prime number: 30.12
The result is 130.12
<class 'float'>

In [6]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print('You are ' + str(2024-int(a)) + ' years old')
    #print(2023-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:2000
You are 24 years old

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [7]:
# indent
i = 2
if i < 5: # () not required, {} not required
  print('okay')
  print('fine')
else:
  print('bad')
print('not okay') # will be executed in each run

okay
fine
not okay

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
  print('More')

Please enter an integer: 5
More

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [20]:
while True:
  mark = input('Enter Your marks (type exit to close): ')

  if mark == 'exit':
    break

  if not mark.isdigit():
    print('WRONG INPUT')

  else:
    if int(mark) >= 90:
      print('A+')
    elif int(mark) >= 85:
      print('A')
    elif int(mark) >= 80:
      print('B+')
    elif int(mark) >= 75:
      print('B')
    elif int(mark) >= 70:
      print('C+')
    elif int(mark) >= 65:
      print('C')
    elif int(mark) >= 60:
      print('D+')
    elif int(mark) >= 50:
      print('D')
    elif int(mark) <= 49:
      print('F')

Enter Your marks (type exit to close): exit

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [21]:
# Measure some strings:
words = ['Tanjim', 'Tonni', 'Dhaka','Ctg']

for w in words:
    print('the word is:',w)

the word is: Tanjim
the word is: Tonni
the word is: Dhaka
the word is: Ctg

In [ ]:
words = ['cat', 'window', 'dhaka','ctg','ABC']
for i in range(len(words)):
    print('the word is:',words[i])

the word is: cat
the word is: window
the word is: dhaka
the word is: ctg
the word is: ABC

In [ ]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [1, 56, 78, 8,7]

for n in numbers:
    print(n+10)

11
66
88
18
17

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [ ]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
list(range(-10, -101, -30))

[-10, -40, -70, -100]

In [ ]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 56
2 78
3 8
4 7

In [ ]:
for i in range(2,100,5):
    print(i,end=',')

2,7,12,17,22,27,32,37,42,47,52,57,62,67,72,77,82,87,92,97,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [25]:
for i in list(range(0,101,2)):
  print (i, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
country = "bangladesh"
for c in country:
    print(c,end=' ')

b a n g l a d e s h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [ ]:
from math import sqrt

def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(sqrt(num)) + 1):
    if num % i == 0:
      return False
  return True

# Check if a few numbers are prime
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
for num in numbers:
  if is_prime(num):
    print(num, "is prime")
  else:
    print(num, "is not prime")

2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
9 is not prime
10 is not prime
11 is prime

In [ ]:
def fib(n):    # write Fibonacci series up to n
    lst = [0,1]
    a, b = 0, 1
    while True:
        #print(a, end=' ')
        a, b = b, a+b
        if b < n:
          lst.append(b)
        else:
          break
        #print()
    return lst

In [ ]:
# Now call the function we just defined:
r = fib(1000)
print(r)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [31]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [32]:
addnumbers(2,23)

25

In [33]:
y = addnumbers('8ppp', '9') # use or call method
print(y)

8ppp9

In [34]:
addnumbers([33,77], [66])

[33, 77, 66]

In [35]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum+ n
    return sum

In [36]:
addValues(range(10))

45

In [37]:
addValues([])

0

In [38]:
v = [5, 4,12, 7]
addValues(v)

28

In [39]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [56]:
# method/function
def multiTable(n, r=9):
    for i in range(1,r+1):
        print("{}x{}={}".format(n,i,n*i))

In [57]:
multiTable(8)

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72

In [61]:
multiTable(1000000000000000000000000000000000000000000000000000)

1000000000000000000000000000000000000000000000000000x1=1000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x2=2000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x3=3000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x4=4000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x5=5000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x6=6000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x7=7000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x8=8000000000000000000000000000000000000000000000000000
1000000000000000000000000000000000000000000000000000x9=9000000000000000000000000000000000000000000000000000

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [51]:
def sumlist(list1, list2):

  if len(list1) != len(list2):
    print ("Lists must be the same in length")
    return "adjust length"

  sum = []

  for i in range(len(list1)):
    sum.append(list1[i] + list2[i])
  return sum

list1 = [3, 4, 5, 1]
list2 = [6, 7, 2, 8]

sum = sumlist(list1, list2)
print("The sum of ", list1 , " and ", list2 ," is : ", sum)

The sum of  [3, 4, 5, 1]  and  [6, 7, 2, 8]  is :  [9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [62]:
def get_first_last_name(full_name):

  names = full_name.split()

  first_name = names[0]

  last_name = names[-1]

  return first_name, last_name

full_name = "Tanjim Rahman"
first_name, last_name = get_first_last_name(full_name)

print("First name:", first_name)
print("Last name:", last_name)

First name: Tanjim
Last name: Rahman

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [64]:
name = input("Enter is your name: ")
age = int(input("How old are you?: "))
print(f"{name} has born in {str(2024-int(age))}.")

Enter is your name: Tanjim Rahman
How old are you?: 24
Tanjim Rahman has born in 2000.