<a href="https://colab.research.google.com/github/tanjimmm/AI/blob/main/22_47647_2_Week_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# **INSTRUCTION**

# Number

In [ ]:
# basic numeric operations
100-27

73

In [ ]:
# classic division returns a float
49/7

7.0

In [ ]:
# floor division discards the fractional part
69//7

9

In [ ]:
# assigin value to variable for later use
a = 5*2
print(a)

10

In [ ]:
# use the variable a for further operations
b = a*9
print(b)

90

In [ ]:
# power multiplication
a=2 ** 10
print(a)

1024

<b>Exercise 1:</b> Assign values to some variables and perform different operations. Also print the results.

In [ ]:
# Exercise
x=3*3
y=2*4

print("Power subtracion: ", a-x)
print("X,Y subtraction:  ", x-y)

Power subtracion:  1015
X,Y subtraction:   1

# Import Module
<p style="text-align: justify"> Python code in one module gains access to the code in another module by the process of importing it. The import statement is the most common way of invoking the import machinery.</p>

<p style="text-align: justify">Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.</p>

<b> Example:</b> Python has a built-in module that you can use for mathematical tasks. The math module has a set of methods and constants. The detail documentation can be found [here](https://docs.python.org/3/library/math.html).

In [ ]:
# importing the math module
import math
# accessing the constant π from math
print(math.tau)
print(math.pi)

6.283185307179586
3.141592653589793

In [ ]:
# using the method sqrt from math
math.sqrt(66)

8.12403840463596

<b>Remember:</b> A cell always outputs the value of last variable. If you want to show other values use print. See the below cell for an example.

In [ ]:
t=(1+2)
(a*4)
d=a/t
print("Variable t: ",t)
print("Variable a: ",a)
print("Division a/t =",d)

Variable t:  3
Variable a:  10.5
Division a/t = 3.5

<b>Exercise 2:</b> Import a module of your choice and show some operations.<br>
See all python module list [here](https://docs.python.org/3/py-modindex.html).

In [ ]:
# code here

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

In [ ]:
a=10.5
print(a)

10.5

In [ ]:
# Checking the type of an object

print(type(a))
print(type(d))

<class 'float'>
<class 'float'>

In [ ]:
c = 123
print(type(c))

<class 'int'>

In [ ]:
d = 'A'
print(type(d))

<class 'str'>

In [ ]:
c = 45.5
print(type(c))

<class 'float'>

In [ ]:
a = 7
d = 99+a
print(type(d))

<class 'int'>













# String

In [ ]:
# assign value to a variable. The value can be qouted using '' or ""
s = "Bangladesh"

In [ ]:
# index
s[3]

'g'

In [ ]:
# negative index
s = 'asdf'
s[-1]

'f'

When to use ' ' or " " ?

string operations with * and +

In [ ]:
'Tanjim ' * 8

'Tanjim Tanjim Tanjim Tanjim Tanjim Tanjim Tanjim Tanjim '

In [ ]:
name='Hello '
name * 3

'Hello Hello Hello '

In [ ]:
'tanjim ' + 'rahman'

'tanjim rahman'

In [ ]:
name + ' hasan'

'Hello  hasan'

In [ ]:
# slicing
name = 'Tanjim rahman'
print(name[4:8])   # [4:8] = 4 is the 1st index printed & 8 is the index that has been sliced from
print(name[4:])
print(name[:4])
print(name[-3:])   # index from right side will be sliced
print(name[1:8:2]) # start from index 1 : 8 index will be read : 2 skip 1 index and read next
print(name[-1: :-1])

im r
im rahman
Tanj
man
ajmr
namhar mijnaT

In [ ]:
name[-8:-2]  # index printing from right to left from index 2 till before 8

'm rahm'

In [ ]:
#dir(name)

Some examples of string methods

In [ ]:
name = 'Afsar Mahmud'
sub = 'Afsar '
name.count(sub)

1

In [ ]:
print(name.split()[-1])

Mahmud

In [ ]:
name.islower()

False

In [ ]:
mystring = 'I am right\nHe is fine'
mystring.splitlines()

['I am right', 'He is fine']

In [ ]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.split(' ')

['I', 'am', 'right\nHe', 'is', 'fine\nThis', 'it', 'okay']

In [ ]:
separator = '??'
mystrings = ['Himel', 'Liton', 'Hasan', 'Fahim']
separator.join(mystrings)

'Himel??Liton??Hasan??Fahim'

In [ ]:
#help(mystring.count)

In [ ]:
len(name)

12

In [ ]:
# check which functions you can use with variable 'name'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(name.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

<b>Exercise 3:</b> Demonstrate some string operations. Also, show uses of some string methods.

In [ ]:
print(name.lower())
print(name.isdecimal())
print(name.swapcase())
print(name.casefold())
print(name.upper())
print(name.find('Afsar'))

afsar mahmud
False
aFSAR mAHMUD
afsar mahmud
AFSAR MAHMUD
0

# List
<p style="text-align: justify">Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.</p>

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [ ]:
data = [21, 'Manager', ['Manager', 89000] ,4.51, 'Dhaka']
data.insert(0,10)
print(data)

[10, 21, 'Manager', ['Manager', 89000], 4.51, 'Dhaka']


Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [ ]:
data[-3][0]

'Manager'

In [ ]:
data[-1]

'Dhaka'

In [ ]:
data[0:3]

[10, 21, 'Manager']

In [ ]:
data[1]

21

In [ ]:
data[2][0]

'M'

In [ ]:
len(data)

6

In [ ]:
data

[10, 21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka']

Some list methods

In [ ]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.append(100)
print(data)

[21, 'Manager', ['Manager', 89000], 4.5, 'Dhaka', 100]

In [ ]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.insert(2,100)
print(data)

[21, 'Manager', 100, ['Manager', 89000], 4.5, 'Dhaka']

In [ ]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.remove(4.5)
print(data)

[21, 'Manager', ['Manager', 89000], 'Dhaka']

In [ ]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']
data.pop(3)
print(data)

[21, 'Manager', ['Manager', 89000], 'Dhaka']

In [ ]:
dir(data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#help(data.insert)

Lists also support operations like concatenation

In [ ]:
squares + data

[1, 4, 9, 16, 25, 21, 'Manager', ['Manager', 89000], 'Dhaka']

<b> Exercise 4:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [ ]:
data1 = [100, 'Office', ['Bed', 10000] ,8.88 , 'Dhaka']

data1.append(200)
print(data1)

data1.pop()
print(data1)

data1.pop()
print(data1)

[100, 'Office', ['Bed', 10000], 8.88, 'Dhaka', 200]
[100, 'Office', ['Bed', 10000], 8.88, 'Dhaka']
[100, 'Office', ['Bed', 10000], 8.88]





<b> Exercise 5:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [ ]:

data2 = []

data2.append(1000)
print(data2)

data2.append(2000)
print(data2)

def Popped():
  data2.reverse()
  data2.pop()

Popped()
print(data2)

Popped()
print(data2)

[1000]
[1000, 2000]
[2000]
[]


# Dictionary
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [ ]:
tel = {'jack': 4098, 'sape': 4139}

In [ ]:

print(list(tel.keys())[1])
print(tel)

sape
{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [ ]:

tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [ ]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [ ]:
person['Rating']

4.5

In [ ]:
len(person)

4

In [ ]:
person.keys()

dict_keys(['Age', 'Name', 'Salary', 'Rating'])

In [ ]:
#person.has_key('Name')
'Name' in person.keys()

True

In [ ]:
'niaz' in person['Name']

True

In [ ]:
#dir(person)

<b> Exercise 6:</b> Define a dictionary to store the details of persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [ ]:
myself = {'Age':23,'Name':['Tanjim','rahman'], 'Salary':90000, 'Rating':4.97}
print(myself['Name'][0])
print(myself['Age'])
print(myself['Rating'])
print(myself.keys())

Tanjim
23
4.97
dict_keys(['Age', 'Name', 'Salary', 'Rating'])


# Tuples and Sets
<b>Exercise 7: (Optional)</b> Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [ ]:
# code from here